body {
    margin: auto;

}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.numbers-container {
    margin: auto;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
}

.numbers-hero {
    padding-top: 484px;
    height: 740px;
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.numbers-h1 {
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.numbers-hero-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-wrap {
    margin-top: 17px;
    display: flex;
    gap: 71px;
    align-items: center;
}

.numbers-hero-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-social-item + li {
    margin-top: 12px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-price-modal-button {
    width: 232px;
    height: 48px;

    background: rgba(0, 0, 0, 0.4); 

    border: 2px solid #FFFFFF;
    border-radius: 25px;

    font-family: 'Montserrat';
    font-weight: 700;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;

    color: #F3C653;
}

.numbers-description {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #F0ECD6;
}

.numbers-h2 {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 32px;
    line-height: calc(37 / 32);

    color: #000000;
}

.numbers-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;

    color: #7A7A7A;

    margin-top: 16px;
}

.numbers-h3 {
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: calc(28 /24);

    color: #000000;
    margin-top: 32px;
}

.number-booking-modal-button {
    width: 100%;
    height: 64px;

    background: #000000;

    border: 1px solid #F3C653;
    border-radius: 25px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);

    color: #FFFFFF;

    margin-top: 32px;
    margin-bottom: 20px;
}

.numbers-backlink-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers-backlink {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);

    letter-spacing: 0.02em;

    color: #C79002;

    margin-right: 12.75px;
}

.numbers-backlink-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .numbers-hero {
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room-2x.jpg);
  }
}


@media screen and (min-width: 414px) {
    .numbers-container {
        width: 414px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .numbers-hero {
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room-tablet.jpg);
        background-size: cover;
    }
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .numbers-hero {
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room-tablet-2x.jpg);
        }
    }
}

@media screen and (min-width: 1024px) {
    .numbers-container {
        width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
    }
    .numbers-hero {
        height: 718px;
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room-desktop.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .numbers-hero {
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 8.07%, rgba(0, 0, 0, 0) 16.15%), url(../images/room-desktop-2x.jpg);
        }
    }
}

@media screen and (min-width: 1280px) {
    .numbers-container {
        width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
    }
    .numbers-hero {
        height: 720px;
    }
}